<% include ../partials/header %>

<div class="ui container stackable grid " id="main">
        
        <% blogs.forEach(blog => { %>
        <div class="five wide computer eight wide tablet sixteen wide mobile centered column" id="column">
            <div class="ui card fluid raised" id="blog-card">
                <a class=" image " href=" /home/<%= blog._id %>" id="img">
                    <img src="<%= blog.image %>" alt="image" id="img-card" class="ui centered image">
                </a>
                <div class="content">
                    <a href="/home/<%= blog._id %>"><%= blog.title %></a>
                    <div class="meta">
                        <span class="date">
                            <emp>By</emp> <b><%= blog.author %></b>
                        </span>
                    </div>
                    <div class="description" id="description">
                        <%= blog.body.substring(0,30) %>...
                    </div>
                    
                </div>
                <div class="extra content">
                    Published - <b><%= blog.date.toString().substring(0,16) %></b>
                </div>
            </div>
        </div>
        <% }) %>


</div>

<% include ../partials/footer %>