<% include ../partials/header %>

<div class="ui stackable grid" id="landing">
    <div class="row">
        <div class="column" id="landing-column">
            <div id="center-text">
                <div id="init-text">
                        <i class="angle right icon" id="main-icon"></i> <code>init</code><i class="window minimize outline icon" id="blink-icon"></i>
                </div>
                    
            </div>
            <div id="welcome-text" class="ui container">
                <p  id="welcome">Welcome to <code id="code-style-text" >init-blog</code> </p>
                <p  id="small-welcome">A place where I document my tech learning,</p>
                <p  id="directional-text">Scroll down to see all blogs</p> 
                <h3 class="ui center aligned inverted dividing header ">
                        <i class="angle down icon" id="down-arrow"></i>
                </h3>
            </div>

        </div>
        
    </div>
    <!-- <div class="down-arrow">
            
        </div> -->
        
</div>





<div class="content">
    <div class="ui container" id="allblogs-header">
            <div class="ui centered dividing inverted huge mobile hidden header">All Blogs</div>
    </div>
    <div class="ui stackable grid container">
        <div class="four column row" id="row">
            <% blogs.forEach(blog =>{ %>
            <div class=" four wide large four wide computer eight wide tablet sixteen wide mobile column">
                <div class="ui link centered cards">
                    <a class="card" id="blog-card" href="/home/<%= blog._id %>">
                        <div class="image" id="card-image">
                            <img src="<%= blog.image %>" alt="image">
                        </div>
                        <div class="content">
                            <div class="header"><%= blog.title %></div>
                            <div class="meta">
                                    <emp>By</emp> <b><%= blog.author %></b>
                            </div>
                            
                        </div>
                        <div class="extra content">
                                Published - <b><%= blog.date.toString().substring(0,16) %></b>
                        </div>
                    </a>
                </div>
            </div>
        <% }) %>
        </div>
    </div>
</div>

<% include ../partials/footer %>