<% include ../partials/header %>



<link rel="stylesheet" href="/stylesheets/show.css">
<link rel="stylesheet" href="stylesheets/media.css">

    <div class="ui container centered raised segment" id="main-show-doc">
        <div class="ui dividing center aligned huge header" id="blog-title">
            <%= blog.title %>
        </div>

        <img src="<%= blog.image %>" alt="img" class="ui huge image centered rounded" id="show-image">
        <% if(currentUser && currentUser._id.equals(blog.owner.id)) { %>
            <div id="action-buttons">
                <form action="/home/<%= blog._id %>?_method=DELETE" method="POST">
            
                    <button type="submit" class="ui basic right floated red button" class="delete-button">Delete</button>
                </form>
        
                <a class="ui basic right floated yellow button" href="/home/<%= blog._id %>/edit" id="edit-button">Edit</a>
            </div>
        
        <% } %>
        <div class="author-name">
            
            <p id="author" ><span>By </span><i id="author-name"><%= blog.author %></i></p>
        </div>
       <div class="published-date">
           <p id="published-text">
               Published on - <%= blog.date.toString().substring(0,16) %>
           </p>
       </div>
       <div class="ui dividing header"></div>

        <div id="blog-body"><%- blog.body %></div>
    </div>

    <div class="ui container segment" id="comments">
            <h1 class="ui dividing header">Comments</h1>
            <% if(currentUser) { %>
               <% include ../comments/new-comment %>
                   
                   <% } %>
               
               <% blog.comments.forEach(comment => { %>
                   <div class="ui black segment">
                       <div class="ui dividing header">
                           <%= comment.owner.username %>
                        <div class="ui right floated content">
                           <% if(currentUser && comment.owner.id.equals(currentUser._id)){ %>
                                <form action="/home/<%= blog._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <button class="ui basic red button">Delete</button>
                                </form>
    
                           <% } %>
                        </div>
                        </div>
                       <p><%= comment.text %></p>
                   </div>
           
              <% }) %>
              
           
           </div>
           
<% include ../partials/footer %>
